body {
    font-family: 'Courier New', monospace;
    background-color: black;
    color: white;
    word-break: break-all;
}

.welcome {
	word-break: break-word;
}

.prompt::before {
	color: green;
    content: "> ";
}

.prompt.active::after {
    content: "\00a0";
    background-color: black;
    animation: blink 2.5s ease-in-out infinite;
}

.output {
	word-break: break-word;
    white-space: pre-wrap;
    tab-size: 4;
}

.file {
    font-weight: bold;
}

.file-e {
    color: #b83019;
}

.file-f {
    color: white;
}

.file-d {
    color: #53c2c5;
}

@keyframes blink {
    50% {
        background-color: white;
    }
}

[contenteditable]:focus {
    outline: 0px solid transparent;
    caret-color: transparent;
}
