body {
    font-family: 'Courier New', monospace;
    background-color: black;
    color: white;
    word-break: break-all;
}

.welcome {
    word-break: break-word;
}

.prompt::before, .shadow::before {
    color: lime;
    content: "> ";
    font-weight: bolder;
}

.active-prompt-container {
    width: 100%;
    display: inline-block;
    position: relative;
}

@keyframes blink {
    50% {
        background-color: transparent;
        color: white;
    }
}

.output {
    word-break: break-word;
    white-space: pre-wrap;
    tab-size: 4;
}

.file {
    font-weight: bold;
}

.file-e {
    color: #b83019;
}

.file-f {
    color: white;
}

.file-d {
    color: #53c2c5;
}

[contenteditable]:focus {
    outline: 0px solid transparent;
    caret-color: transparent;
}

.shadow {
    position: absolute;
    left: 0;
    color: transparent;
}

.shadow .caret {
    background: cornflowerblue;
    color: white;
    animation: blink 2.5s ease-in-out infinite;
}
